@page "/"
@page "/logger"
@using BlazorClient.Services
@inject AuthService auth
@inherits LoggerLogic

<div style="margin:5px">
    <button class="btn btn-raised btn-primary" style="width:120px;margin:5px" onclick="@ConnectLog">@ConnectBtn()</button>
    <span>Status: </span><span> @ConnectStatus</span>
    <button class="btn btn-raised btn-primary" style="width:120px;margin:5px" onclick="@ClearLog">Clear log</button>
    @*<span style="margin:5px">URL</span>*@
    @*<input bind="@Ws_URL" style="margin:5px;width:250px" disabled="@(!IsDisabled)" />
        <span style="width:120px;margin:5px">status:@Ws_Status</span>*@
</div>
<span style="margin:5px">Log:</span>
<div>
</div>
<div class="logger-window">
    @foreach (var item in Log.log.OrderByDescending(x => x.ID))
    {
        <div>
          @item.Date @item.Message
        </div>
    }
</div>
    


